.axis {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis text {
  font: 10px sans-serif;
  fill: #000;
  stroke: none;
  font-weight: bold;
}
.axis line {
  stroke: #ccc;
}
.axis path {
  stroke: #ccc;
}
.bar:hover {
  fill: #E55;
}
.dot:hover {
  fill: #E55;
}
.area:hover {
  fill: #E55;
}
.line {
  padding: 10px;
}
.line:hover {
  stroke: #E55;
}
.selection ul {
  margin: 0;
  padding: 0;
}
.selection ul li {
  display: inline;
  text-decoration: none;
  margin-left: 10px;
  cursor: pointer;
}
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.bar {
  fill: steelblue;
}
.x.axis path {
  display: none;
}
.legend line {
  stroke: #000;
  shape-rendering: crispEdges;
}
svg {
  width: 960px;
  height: 500px;
  border: solid 1px #ccc;
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}
body {
  font: 10px sans-serif;
}
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
