body{
    font-family: helvetica, arial, sans-serif;
}
nav ul li {
    padding: 10px 20px;
    cursor:pointer;
    background-color:#000;
    color:#fff;
    transition:0.3s;
}
ul li:hover{
    background-color:#fff;
    color: #000;
}

ul li.focused{
    color:#fff;
    background-color:#23D4D5;
}
